certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cssselect==1.4.0
dotenv==0.9.9
idna==3.13
jmespath==1.1.0
lxml==6.1.0
packaging==26.2
parsel==1.11.0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
selectorlib==0.16.0
urllib3==2.6.3
w3lib==2.4.1
